* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f4f8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Header*/
header {
    background: #1e293b;
    color: white;
    text-align: center;
    padding: 20px;
}

/*Main layout*/
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Card*/
.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    text-align: center;
    width: 320px;
}

/*Image*/
.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Button */
button {
    background: #1e293b;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #334155;
}

/* Footer */
footer {
    background: #1e293b;
    color: white;
    text-align: center;
    padding: 10px;
}